@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  .nav-bg {
    display: none;
  }

  .mobile-nav-bg {
    display: flex;
  }

  #mobile-nav {
    display: flex;
  }

  .display {
    z-index: 100;
    margin-top: 10vh;
    width: 90%;
    display: none;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    .highlight {
      width: 90%;
      align-items: center;
      text-align: center;
      height: 60vh;
      border: 1px solid rgba(255, 255, 255, 0.3);
      background: rgba(0, 0, 0, 0.2);
      margin-bottom: 10%;
    }
  }
}

@media screen and (max-width: 600px) {
  footer {
    height: 40vh;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .btn-container {
    flex-wrap: wrap;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
}
