@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  .nav-bg {
    display: none;
  }

  .mobile-nav-bg {
    display: flex;
  }

  #mobile-nav {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  footer {
    height: 40vh;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .btn-container {
    flex-wrap: wrap;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
}
