@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url(loader.css);
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/open-props.min.css";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: hsl(0 0% 6%);
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 75px;
  height: 100vh;
  background-color: rgba(30, 30, 30, 0.7);
  -webkit-transition: all 1.1s ease;
  -moz-transition: all 1.1s ease;
  -o-transition: all 1.1s ease;
  transition: all 1.1s ease;
  z-index: 3;

  .nav-link-1 {
    height: 12vh;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 20px;
    width: 75px;
  }

  .nav-link-2 {
    height: 76vh;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 20px;
    width: 75px;

    cursor: pointer;
  }

  .nav-link-3 {
    height: 12vh;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 20px;
    width: 75px;
  }
}

nav.open {
  width: 100vw;
  background-color: rgb(30, 30, 30);
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease;

  .nav-link-1 {
    height: 12vh;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 20px;
  }

  .nav-link-2 {
    height: 76vh;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
  }

  .nav-link-3 {
    height: 12vh;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 20px;
  }
}

.nav-bg {
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 75px;
  height: 100vh;
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease;
  box-shadow: #000000 5px;
}

.nav-bg.open {
  width: 100vw;
  -webkit-transition: all 1.1s ease;
  -moz-transition: all 1.1s ease;
  -o-transition: all 1.1s ease;
  transition: all 1.1s ease;
}

.display {
  z-index: 100;
  width: 90%;
  display: none;
  justify-content: space-evenly;
}

p > a {
  color: rgb(26, 97, 126);
  text-decoration: none;
  text-decoration-color: rgb(26, 97, 126);
}

a {
  color: white;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: rgb(26, 97, 126);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(26, 97, 126);
}

.logo {
  font-size: 2rem;
  color: #ffffff;
}

.logo:hover {
  cursor: default;
}

/* MOBILE MENU */

#mobile-nav {
  display: none;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 65px;
  background-color: rgba(30, 30, 30, 0.7);
  -webkit-transition: all 1.1s ease;
  -moz-transition: all 1.1s ease;
  -o-transition: all 1.1s ease;
  transition: all 1.1s ease;
  z-index: 3;

  .nav-mobile-link-1 {
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
  }

  .nav-mobile-link-2 {
    width: 76vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;

    cursor: pointer;
  }

  .nav-mobile-link-3 {
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
  }
}

.mobile-nav.open {
  height: 100vh;
  background-color: rgb(30, 30, 30);
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease;

  .nav-mobile-link-1 {
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
  }

  .nav-mobile-link-2 {
    width: 76vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    margin-top: 20px;
  }

  .nav-mobile-link-3 {
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
  }
}

.mobile-nav-bg {
  display: none;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 65px;
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease;
  box-shadow: #000000 5px;
}

.mobile-nav-bg.open {
  height: 100vh;
  -webkit-transition: all 1.1s ease;
  -moz-transition: all 1.1s ease;
  -o-transition: all 1.1s ease;
  transition: all 1.1s ease;
}

/* SECTIONS */

.code-block {
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(233, 233, 233, 0.1);
  padding: 10px;
  border-radius: 20px;
  width: 90%;
}

.code-block-property {
  margin-left: 20px;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* FOOTER SECTION */

footer {
  height: 5vh;
  position: fixed;
  width: 100vw;
  bottom: 0;
}

footer p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
}

:root {
  --size: 20px;
}

.nav-icon {
  height: 30px;
  color: #ffffff;
  margin-top: -3px;
}

.nav-toggle-btn::before {
  border: 1px solid rgba(255, 255, 255, 0.2);
  animation: border-pulsate 3s infinite;
}

.nav-toggle-btn {
  color: #fff;
  transition: all 0.5s;
  position: relative;
}
.nav-toggle-btn::before {
  content: "";
  position: absolute;
  top: -11px;
  left: -9px;
  width: 51px;
  height: 45px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.05);
  transition: all 0.3s;

  @media screen and (max-width: 1200px) {
    top: -15px;
  }
}
.nav-toggle-btn:hover::before,
.nav-toggle-btn:active::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.nav-toggle-btn::after {
  content: "";
  position: absolute;
  top: -11px;
  left: -9px;
  width: 51px;
  height: 45px;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: rgba(50, 50, 50, 0.6) 0px 0px 5px;
  transform: scale(1.2, 1.2);
}
.nav-toggle-btn:hover::after,
.nav-toggle-btn:active::after {
  opacity: 1;
  transform: scale(1, 1);
}
